<!--HTMLfile for Instantify questions screen-->
<!DOCTYPE html>
<html ng-app="app">

<head>
	<meta charset="utf-8">
	<title>Instantify</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">

	<!--jQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<!--Bootstrap-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
        <!--Angular-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <script src="js/app.js"></script>
    
    <!--Firebase-->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

    <!--Fontawesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--<script src="js/script.js" type="text/javascript"></script></script>-->
</head>
<body>
	<header>
		<img src="img/instantify_ver3.png" alt="Logo">
	</header>
	<nav>

		<a href="#" id="add-to-cloud">
			<div class="nav_a add-to-cloud active">
				<img src="img/cloud_add_white.png"/>
				<p>Instant WordCloud</p>
			</div>
		</a>
			<a href="#" id="add-question">
			<div class="nav_a add-question">
				<img src="img/add182.png"/>
				<p>Add questions to ID</p>
			</div>
		</a>
		<a href="#" id="question-list">
			<div class="nav_a question-list">
				<img src="img/lists10.png"/>
				<p>My Question List</p>
			</div>
		</a>
		<a href="#" id="about">
			<div class="nav_a about">
				<img src="img/information15.png"/>
				<p>About Instantify</p>
			</div>
		</a>
	</nav>
	<div class="header-question">
		<h2>Start a WordCloud instantly - just add a question</h2>
	</div>
		<div ng-controller="FirebaseController" class="container">
			<div id="row" >
				<div class="col-md-12" ng-controller="MessageController as Ctrl">

						<div class="box-add">
							<div id="row" >
								<div class="col-md-10 col-md-offset-1">
									<div class="body-question">
										
										<form ng-controller="LocalStorageController">
											<input ng-model="courseID" id="courseID" type="text" placeholder={{Ctrl.msgID}}></input>
											<input ng-model="question" id="question" type="text" placeholder={{Ctrl.msgInput}}></input>
											<!--class a-btn replaced by button class-->
											<a href="wordcloud.html" target="_blank" class="button" type="button" ng-click="submitData(courseID, question); setID(courseID, question); $event.stopPropagation();"><span>&#9658;</span>{{Ctrl.btnSubmit}} WordCloud</a>

										</form>
									</div><!--End of .body-queestion-->
								</div>
							</div>
						</div><!--End of .box-add-->

						<div class="box-new" style="display:none">
							<!--<div class="header-question">
								<h2>Save questions to ID</h2>
							</div>-->
							<div id="row" >
								<div class="col-md-10 col-md-offset-1">
									<div class="body-question">
										
										<form>
											<input ng-model="ID" id="courseID" type="text" placeholder={{Ctrl.msgID}}></input>
											<input ng-model="question" id="question" type="text" placeholder={{Ctrl.msgInput}}></input><br>
											<input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-model="setActive" name="setActive" value="Active">Set as active question</input>

											<p id="verification"></p>
											<a ng-controller="SaveController" type="button" id="save-element" class="save-element button" ng-click="saveData(ID, question, setActive);$event.stopPropagation();" value={{Ctrl.btnSave}}><span><i class="fa fa-plus"></i></span>Save question</a>
										</form>

									</div><!--End of .body-queestion-->
								</div> <!--End of .col-md-10-->
							</div> <!--End of .row-->
						</div><!--End of .box-add-->
		
						<div class="box-view" style="display:none" ng-controller="SaveController">
							<!--<div class="header-view-question">
								<h2>View saved questions for an ID</h2>
							</div>-->
							<div id="row" >
								<div class="col-md-10 col-md-offset-1">
									<div class="body-view-question">
										<p id="current-courseID">You are currently viewing ID: </p>
	                					<button id="change-courseID">Change courseID</button>
										<input ng-model="cID" id="ID" type="text" placeholder="Write ID to get saved questions"></input>
										<a id="get-btn" class="save-element button" ng-click="getListData(cID); $event.stopPropagation();" value="Get"><span><i class="fa fa-arrow-down"></i></span>Get questions</a>						
										<div class="questions"></div>
									</div>
								</div>
							</div>
						</div> <!--end of .box-view-->
					</div><!--End of .row-->
				</div><!--End of .col-->
			</div><!--End of .row-->
		</div><!--End of wrapper-->
	</body>
</html>