
.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/DA401A_Projekt.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

*.xml

Instantify/.idea/encodings.xml
