/* CSS-file for projekt Instantify */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic);
* {
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
}

.col-md-6, .col-md-5{
	padding:0 !important;
}

header{
	margin-top:2%;
	padding:0% 0% 1% 4%;
	background-color: #222;
}

header img{
	width:230px;
}

nav{
	float:right;
}

/* Styling for .box and elements in .box surrounding form */
.box-add, .box-view{
	width: 49% !important;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    margin: 4% .5% !important;
	border:1px solid #ddd;
	box-shadow: 1px 1px 1px 0px rgba(150,150,150,.5);
	padding:0%;
	text-align: center;
	margin:auto;
}

.box-add h2, .box-view h2{
	margin: 2.5%;
	font-size: 1.2em;
	text-align: center;
}

h3{
	font-size: .95em;
	font-style: italic;
}

.box-view{
	min-height: 500px;
}

.box-add .header-question, .header-view-question{
	padding:.5% 0 0 0 ;
	background-color: #222;
	margin:0;
	display: block;
    height: 50px;
    top: 0;
    width: 100%;
    margin-bottom: 0%;
    position: relative;
    color:#fff;
}

.box-add .body-question{
	height:220px;
}


.box-view .body-view-question{
	min-height: 237px;
	padding:2%;
	text-align: left;
}

.box .body-view-question p:first-child{
	font-size: 1.6em;
	text-align: left;
	padding: 2% 0 4% 0;
}

.box form{
	margin-top:6%;
}

#question{
	margin-top:2% !important;
}

.box-add form input[type=text]{
	font-size: 1.15em;
	font-family: 'Muli', sans-serif;
	border:none;
	border-bottom:1px solid #ccc;
	width:90%;
	height:40px;
	padding: 0 0 0 0%;
	margin-top: 0%;
}

.box-add form input[type=text]:first-child{
	margin: 5% 0 5% 0%;
}

.box-add form input[type=button]{
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	margin:7% 5% 3% 0%;
	display:block;
	width:30%;
	height:35px;
	box-shadow: 2px 2px 5px 0px rgba(50,50,50,.5);
	background-color:#ddd;
	font-size: 1.15em;
	border:none;
	float:right;
}

.body-view-question li{
	width:90%;
	margin: 0;
	list-style-type: none;

}

.fa{
	cursor: pointer;
	
}

.fa:hover{
	font-size: 18px;
}

.fa-trash-o {
	padding: 1%;
	float:right;
    margin-left: 30%;
}

.icons{
	float: left;
    display: block;
    width: 10%;
    position: absolute;
    right: 50px;
    margin-top: -2.5%;
}

.body-view-question{
	padding:30% 0;
	width:90%;
	margin:auto;
}

.body-view-question li:first-child{
	margin-top:5%;
}

.body-view-question li .fa-trash-o{
	float:right;
	margin: 0 0% 0 4%;
}

.fa-check-square-o, .fa-square-o{
    margin: -5% 0% 0 4%;
}


::-webkit-input-placeholder {
	transition: opacity ease 1s;
}

::-moz-placeholder {  /* Firefox 19+ */
	transition: opacity ease 1s;
}

:-ms-input-placeholder {  
	transition: opacity ease 1s;
}

/* Remove blue outline on form elements */
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

#current-courseID{
	display:none;
	float:left;
	width:59%;
	text-align: left;
	margin:5% 0 6.5% 6%;
	font-size: 1.25em;
	font-weight: 400;
}
#change-courseID{
	display:none;
	float:left;
	width:30%;
	margin:5% 5% 6.5% 0;
	height:30px;
}




