/* CSS-file for projekt Instantify */

* {
	margin:0;
	padding:0;
	
}

header{
	margin-top:2%;
	padding:0% 0% 1% 4%;
	background-color: #222;
}

header img{
	width:270px;
}

/* Styling for .box and elements in .box surrounding form */
.box{
	font-family: 'HelveticaNeue-Light', sans-serif;
	position: relative;
	margin:15% 0% !important;
	border:1px solid #ddd;
	box-shadow: 1px 1px 1px 0px rgba(150,150,150,.5);
	padding:2%;
	text-align: center;
	margin:auto;
	clear: both;
    overflow: hidden;
}

.box h2{
	margin:5% 0 10% 0;
	text-align: center;
}

.box form input[type=text]{
	font-size: 1.2em;
	border:none;
	border-bottom:1px solid #ccc;
	width:90%;
	height:40px;
	padding: 0 0 0 2%;
}

.box form button{
	margin:10% 5% 5% 0%;
	display:block;
	width:35%;
	height:45px;
	box-shadow: 2px 2px 5px 0px rgba(50,50,50,.5);
	background-color:#ccc;
	font-size: 1.3em;
	border:none;
	float:right;
}

/* Remove blue outline on form elements */
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}